*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f63232;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 30px;
  }

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    /* background-color: #FEB614; */
    color: #706b6b;
    padding: 46px;
    font-size: 14em;
    position: absolute;
    left: 0;
    top: 30%;
}

.banner h2{
    color: #8b0000;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* bottom: 40%; */
}

nav{
    background: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 85px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

nav li{
    width: 25%;
    display: inline-block;
    font: 24px;
}

.second{
    text-align: center;
}

nav li :hover{
    color: #FEB614;
}

.container-fluid{
    background-image: url(../assets/pizzabg.jpeg);
}

.text-center{
    color: white;
}
.text{
    color: black;
}

.img-fluid{
    background-image: none;
}

.row{
    margin-left: 15em;
    margin-right: 15em;
    
}

    .text-center h1{
        color: greenyellow;
    }

    .form-group-row{
        text-align: center;
        margin-left: 23em;
    }

    .contact-us{
        text-align: center; 
        background-image: url();
    }


    #order{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgb(11, 5, 26);
    }

    #contact{
        color: white;
    }

   
    